#!/usr/bin/make -f

%:
	dh $@ --with python2

.PHONY: override_dh_auto_test
override_dh_auto_test:
	# Run the bundled tests when building the package
	# The tests currently fail
	#LC_ALL=C python setup.py test

override_dh_auto_clean:
	dh_auto_clean
	# Cleanup versiontools leftovers
	rm -rf versiontools*
